/***********************************************
*****   cart, order 페이지
        @정서령
********************************************/

@font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 300 400 500 600 700 800 900;
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

:root {
    --borderlight: #dfe4eb;
    --fontblack: #333333;
    --darkblack: #222222;
    --kurlypurple: #672092;
}


body {
    line-height: 1;
}

/* 하얀바탕 */
.w-full {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    margin: 5px;
    align-items: center;


}

/* 회색바탕 */
.g-full {
    background-color: #F2F5F8;
}

/* 검정색 글자 */
.c-layout p,
.c-layout h3,
.c-layout button,
.c-layout div,
.c-layout span,
.c-layout input

{
    font-family: 'Pretendard-Regular';
    color: #333333;
    letter-spacing: -0.5px;
    font-size: 16px;
}

.order-wrap  p,
.order-wrap  h3,
.order-wrap  button,
.order-wrap  div,
.order-wrap  span
{
    font-family: 'Pretendard-Regular';
    color: #333333;
    letter-spacing: -0.5px;
    font-size: 14px;
}



.f12 {
    font-size: 12px  !important;
}

.f13 {
    font-size: 13px  !important;
}

.f14 {
    font-size: 14px  !important;
}

.f16 {
    font-size: 16px  !important;
}

.f18 {
    font-size: 18px  !important;
    // font-weight: 600;
}

.f20 {
    font-size: 20px  !important;
}
.f22 {
    font-size: 22px  !important;
}

.f24 {
    font-size: 24px  !important;
}

.w500 {
    font-weight: 500 !important;
}

.w600 {
    font-weight: 600 !important;
}

.flex {
    display: flex  !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.ver-center{
    vertical-align: center;
}

.align-center {
    align-items: center;
}

.margin1200 {
    margin: 12px 0 0;
}

.margin00016 {
    margin: 0 0 0 16px;
}



.checkbox {
    min-width: 21px;
    min-height: 21px;
    border-width: 2px;
    border: solid 2px #cbd1d7 ;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    /* 체크박스 정렬 */
    cursor: pointer;
}

.checkbox-active {
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJyBmaWxsPSdub25lJz48cGF0aCBkPSdNMTUuNzA3IDcuNzA3MUw4LjY4NDA1IDE0LjczMDlMNC4yOTI3MiAxMC4zMzg5TDUuNzA3MDQgOC45MjQ4M0w4LjY4NDA3IDExLjkwMjNMMTQuMjkyNyA2LjI5Mjk3TDE1LjcwNyA3LjcwNzFaJyBmaWxsPScjRjJGNUY4Jy8+PC9zdmc+');
    min-width: 21px;
    min-height: 21px;
    border-width: 2px;
    border-style: solid;
    background-color: #222222;
    border-color: #222222;
    // background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
}


.checkbox-input {
    display: none;
}


/* 주소 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M15.707 7.7071L8.68405 14.7309L4.29272 10.3389L5.70704 8.92483L8.68407 11.9023L14.2927 6.29297L15.707 7.7071Z" fill="#F2F5F8"/></svg> */

.w-btn {
    font-size: 14px  !important;
    background-color: white;
    color: #222222;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 12px 5px 12px;
    font-weight: 600;
    border-color: #dfe4eb;
    height: 30px;
    /* 버튼 높이 고정 */
}
.w-btn2 {
    font-size: 12px  !important;
    background-color: white;
    color: #222222;
    border-width: 1px;
    border-style: solid;
    // display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 0px 10px;
    font-weight: 500;
    border-color: #dfe4eb;
    height: 30px;
    width: 60px;
    /* 버튼 높이 고정 */
}
.w-btn3 {
    font-size: 14px  !important;
    background-color: white;
    color: #222222;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 12px 5px 12px;
    font-weight: 600;
    border-color: #dfe4eb;
    height: 44px;
    /* 버튼 높이 고정 */
}

.order-btn1 {
    background-color: var(--kurlypurple);
    padding: 24px;
    width: 100%;
    align-items: center;
    border-radius: 12px;
    color: white !important;
    font-size: 18px !important;
}

.order-btn2 {
    background-color: var(--kurlypurple);
    padding: 0px 10px;
    width: 100px;
    height: 44px;
    align-items: center;
    border-radius: 3px;
    color: white !important;
    border: 0px none;
}

.order-btn3 {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255) !important;
    background-color: var(--kurlypurple);
    border: 0px none;
    margin: 40px auto 30px;
    font-weight: 500 !important;
    font-size: 16px !important;
}

/*****************************
    cart
    @정서령
*********************************/

.c-layout {
    padding: 0 0 80px;
}

.order-wrap {
    padding-bottom: 60px;
}

.c-title {
    text-align: center;
    font-size: 28px !important;
    font-weight: 600 !important;
    padding: 50px 0 48px;

}

.cart-header {
    display: flex;
    justify-content: space-between;
}



/* grid section */

.flex {
    display: flex;
}

.c-content {
    width: 1050px;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    margin: 0 auto;
}


.cart-left-side {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    margin-left: 40px;
}


.cart-right-side {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start; 
    padding-left: 10px;
    margin-right: 40px;
}



/* 콘텐츠 */
.cart-select-all {
    display: flex;
}

.cart-product {
    padding: 16px !important;
}


.cart-select-all label,
.cart-product-top p {
    padding: 0 0 0 16px;
}

.cart-product-top {
    display: flex;
    padding: 0 0 16px;
}

.cart-product-item {
    margin: 0 0 20px 0;
    // border-top: #dfe4eb 1px solid;

}


.cart-product-pacakaging {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0 12px;
    border-top: #dfe4eb 1px solid;
}

.cart-product-pacakaging span {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: red solid 1px;
    margin: 3px;
}


.cart-product-pacakaging p {
    font-weight: 600 !important;
    line-height: 22px;
}

.cart-product-pacakaging2 {
    width: 40px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 5px;
    padding: 4px 8px;
    margin-top: 8px;

}

.cart-product-pacakaging2 p {
    font-size: 12px;
    font-weight: 600;
    // color: #67bfa4;
}



.product-item div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* 상품 */

.product-item-title {
    padding: 10px 0 10px 0;
}

.product-item-title p {
    text-align: left;
    margin-left: 10px;
    flex-grow: 1;
}

.product-item-center {
    display: flex;
    margin: 12px 0 0;
    gap: 20px;
}

.product-item-center img {
    border-radius: 8px;
    width: 64px;
    height: 83px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.product-item-center2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 83px;
}

.product-item-center2 div:first-child {
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.quantity-selector {
    display: flex;
    width: 82px;
    height: 20px;
    align-items: center;
    padding: 8px;
    background-color: #eceff3;
    border-radius: 20px;
    justify-content: space-between;
}

.quantity-selector button {
    background: none;
    width: 20px;
    height: 20px;
}

.quantitiy-count {
    text-align: center;
    min-width: 36px;
    margin: 0px 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.c-layout .decrease {
    position: relative;
    bottom: 0px;
}

.c-layout .increase {
    position: relative;
    right: 3px;
    top : 1px;
}

.product-bottom {
    margin-left: 30px;
}

.price-summury1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0 0;
    padding: 12px;
    border-radius: 10px;
    background-color: #F2F5F8;
    color: var(--darkblack);
}

.delivery-address {
    padding: 20px 20px 36px;
    margin: 5px 0 16px;

}


.delivery-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 5px;

}

.delivery-type {
    margin: 0 0 4px;
}

.delivery-bottom p {
    width: 250px;
}

.delivery-bottom button {
    margin: 0 0 0 24px;
    padding: 0 12px;
}

.payment {
    padding: 20px;
    margin: 0 0 16px;
}



.payment p:last-child {
    text-align: right;
}



/*****************************
    Order
    @정서령
*********************************/



.order-page-title-n
{
    border-bottom: 1px solid rgb(51, 51, 51);
}

.order-page-title
{
    border-bottom: 1px solid rgb(51, 51, 51);
    margin-top: 75px;
}


.order-page-title p
{
    padding: 16px 0;
    display: block;
}

.order-mt {
    width: 160px;
    margin-right: 30px;
    vertical-align: top;  // 
    letter-spacing: -0.32px;
    font-weight: 500;
}

.order-list-wrap {
    background-color: white;
    border-radius: 12px;
}

.order-list {
    padding: 24px;
    background-color: rgb(250, 250, 250) ;
    // text-align: center;
    line-height: 24px;
    // border-bottom: 1px solid rgb(244, 244, 244) ;
}


.order-list-bar {
        min-width: 90%;
        min-height: 1px;
        margin: 10px 10px;
        background-color: #eceff3;
}


.order-list ul {
    padding: 16px 16px 4px;
}
.order-list li {
    padding-bottom: 12px;
}


.hide-list {
    padding: 28px 0;
    text-align: center;
    line-height: 24px;
    border-bottom: 1px solid rgb(244, 244, 244) ;
    cursor: pointer;
}

.order-item {
    gap: 15px;
}

.orderer-info-content{
    padding: 10px 0;
}

.orderer-info-row 
{
    padding: 8px 0;
    display: flex;
}

.order-email{
    // align-items: left;
    // display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 4px;
    text-align: left; 
}



.delivery-content,
.order-card-content
    {
    padding: 20px 0;
    display: flex;
    justify-content: space-between; // 
}

.order-miles-content
    {
    padding: 20px 0;
    // display: flex;
    justify-content: center;
}

.flex110 {
    flex: 1 1 0%;
}


.orderer-info-row div {
    display: inline-flex;
    align-items: flex-start;
    line-height: 24px;
}

.order-info-email div {
    display: block;
    margin-top: 10px;
    unicode-bidi: isolate;
}

.delivery-content{
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(244, 244, 244) ;
}

.delivery-detail {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}


.delivery-detail .w-btn2 {
    margin-top: 8px;
}

.delivery-detail .line{
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 6px 8px 0px;
    background-color: rgb(221, 221, 221);
    box-sizing: border-box;
}

.delivery-default{
    display: inline-block;
    align-self: flex-start;
    width: auto;
    height: 22px;
    padding: 0px 8px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 22px;
    color: rgb(102, 102, 102) !important;
    background-color: rgb(247, 247, 247);
    // text-align: center;
}


.order-delivery-b{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 20px;
}


.order-delivery-bl {
    width: 742px;
}

.order-delivery-br {
    max-width: 284px;
}


.order-delivery-b .coupon1 {
    position: relative;
    width: 100%;
    height: 44px;
    padding: 0px 54px 0px 16px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
    background: rgb(250, 250, 250);
    color: rgb(204, 204, 204) !important; 
}
.coupon1 span {
    display: inline-block;
    position: relative;
    bottom : 2px;
    width: 12px;
    height: 8px;
    background: url(data:image/svg+xml;charset=utf-8;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBmaWxsPSIjZGRkIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNSAwTDEwIDYgMCA2eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTkwOSAtMjAzNikgdHJhbnNsYXRlKDE5NSAxNzk2KSB0cmFuc2xhdGUoMCA2MCkgdHJhbnNsYXRlKDM3NiAxNjIpIHRyYW5zbGF0ZSgzMzggMTgpIHJvdGF0ZSgtMTgwIDUuNSAzLjUpIi8+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) 0px 0px no-repeat;
    position: absolute;
    top: 15px;
    right: 16px;
}


.order-delivery-b .move {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNiA5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDZ2OUgweiIvPgogICAgICAgIDxwYXRoIGQ9Ik0uNjQ3LjY0NmEuNS41IDAgMCAxIC42MzgtLjA1N2wuMDcuMDU4IDMuNDgzIDMuNWEuNS41IDAgMCAxIC4wNy42MmwtLjA2Mi4wNzgtMy4zMyAzLjVhLjUuNSAwIDAgMS0uNzgtLjYxOWwuMDU1LS4wNyAyLjk5NS0zLjE0OS0zLjE0LTMuMTU0QS41LjUgMCAwIDEgLjU4OS43MTVsLjA1OC0uMDd6IiBmaWxsPSIjNUYwMDgwIi8+CiAgICA8L2c+Cjwvc3ZnPgo=);
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 4px;
}

.order-delivery-b button {
    padding: 0;
}

.coupon-event {
    border-top: 1px solid rgb(244, 244, 244);
    margin-top: 20px;
}
.coupon-event img {
    width: 500px;
}



/* 라디오 버튼 */

.coupon-radio {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: center;
    margin-right: 8px;
}

.coupon-radio .radio-input {
    display: none;
    padding: 0;
    margin: 0;
}


.coupon-radio .icon {
    position: absolute;
    top: 5px;
    left: 0;
    transition: opacity 0.3s ease;
}


.coupon-radio .hidden {
    opacity: 0;
    pointer-events: none;
}



/* 카드 */

.order-card-row {
    width: 414px;
    display: flex;
    justify-content: space-between;
}



/* 적립금 */

.miles-left  {
    width: 414px;
    padding: 13px 0 8px;
}

.miles-left-row {
    padding-bottom: 8px;
}

.miles-left span {
    color: #b5b5b5;
}

.miles-input{
    display: flex;
    column-gap: 8px;
    -webkit-box-align: center;
    align-items: center;
}


.miles-input div {
    color: rgb(204, 204, 204) !important;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    font-size: 14px !important;
    width: 300px;
    height: 44px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    line-height: 42px;
    box-sizing: border-box;
}
.miles-input button {
    padding: 0px 10px;
    text-align: center;
    width: 100px;
    height: 44px;
    border-radius: 3px;
    color: #dddddd !important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    cursor: default;
}

.miles-description {
    margin-top: 10px;
}

.miles-description p{
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 16px;
    color: #666666 !important;
}


/* 결제 수단  */

.order-payment-content {
    width: 600px;
}


/** 개인정보 */

.privacy-policy {
    margin: 0 0 20px;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.privacy-policy .flex:not(:first-of-type) {
    padding-top: 12px;
}

.privacy-policy p{
    padding-top: 20px;
}

.privacy-policy button{
    color: rgb(153, 153, 153) !important;
    text-decoration: underline;
}

.privacy-policy-des {
    color: #666666 !important;
    font-size: 12px !important;
    
}
.privacy-policy-des::before {
    color: #666666 !important;
    display: inline-block;
    width: 16px;
    content: "※";
    font-size: 12px;
}


/* 결제 창 아래 오른쪽**/

.sticky-order-summury {

    
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start; 
    padding-left: 10px;
    margin-right: 40px;
}


.order-summury-content {
    width: 100%;
    padding: 17px 16px 18px 18px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(242, 242, 242);
    
}

.sticky-order-title{
    padding: 16px 0;
    font-weight: 500;
}



.sticky-order-summury .smallgrayf {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky-order-summury .smallgrayf span{
    color: #999999 !important;
    font-weight: 400;
}

.sticky-order-summury .pmfont1 div{
    font-size: 16px !important;
}

.sticky-order-summury .pmfont2  {
    margin: 16px 0 0;
}
.sticky-order-summury .pmfont2 div:first-child {
    font-size: 16px !important;

}

.order-total-sum{
    margin: 16px 0 0;
    padding: 16px 0 1px;
    border-top: 1px solid rgb(244, 244, 244);
}

.sticky-summury-img {
    width: 269px;  
    height: auto;  
    display: block;
    object-fit: cover;
    margin: 0;
}

.address-ud {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.road-address-ud {
        // display: inline-flex;
        // overflow: hidden;
        // margin-right: 10px;
        padding: 0px 12px;
        box-sizing: border-box;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 3px;
        background-color: rgb(250, 250, 250);
        font-size: 14px !important;
        line-height: 42px;
        color: #999999 !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
}

.detail-address-ud {
    width: 350px;
    height: 44px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 14px !important;
    line-height: 42px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.address-ud-bt {
    display: flex;
    justify-content: space-between;
    // gap: 25px;
}